@media screen and (max-width: 400px) {
    .nav-container{
flex-direction: column;
width: 100%;
    }
    .nav-items-container{
        flex-direction: column;
        width: 100%;
    }
    .logo-container{
        flex-direction: column;
    }

    .banner-container{
        flex-direction: column;
        margin-top: 90px;
    }
}