
@media screen and (max-width: 425px) {
    .nav-container{
flex-direction: column;
width: 100%;
    }
    .nav-items-container{
        flex-direction: column;
        width: 100%;
    }
    .logo-container{
        flex-direction: column;
    }

    .banner-container{
        flex-direction: column;
        margin-top: 90px;
    }

    .on-games-title{
        flex-direction: column;
    }
    .online-games-imgs-container{
        flex-direction: column;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        width: fit-content;
    }

    .dual-img-container{
        flex-direction: column;
        width: fit-content;
    }

    .other-games{
        flex-direction: column;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: fit-content;
    }

    .footer-heading{
        flex-direction: column;
width: 100%;
margin-top: 400px;
width: fit-content;
height: 1000px;
    }
    .footer-logo{
        flex-direction: column;
    }
    .footer-details{
        flex-direction: column;
    }
    .footer-others{
        flex-direction: column;
    }
}