@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap');


body{
    font-family: 'Roboto Slab', serif;
}
.nav-container{
    
    display: flex;
    justify-content: space-around;
    width: 1920px;
    height: 130px;
}

.logo-container{
    display: flex;
    font-weight: 700;
    margin: 0 auto;
    width: 50%;
}
.logo-container img{
    width: 85px;
    height: 40px;
    object-fit: cover;
    margin-right: 20px;
    margin-top: 65px;
}
.logo-container p{
    font-size: 50px;
    margin-left: 5px;
}
.G{
    color: #FF42A5;
}
.nav-items-container{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-items-container a{
    text-decoration: none;
    font-size: 18px;
    color: #3C354F;
}
.nav-items-container .follow-icon{
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    padding: 10px 20px;
    text-align: center;
}

.banner-container{
background-image: url(../images/Group\ 14.png);
background-repeat: no-repeat;
display: flex;
align-items: center;
justify-content: space-between;

}
.banner-text{
    margin-left: 240px;
    
}
.banner-title{
    font-size: 48px;
    font-weight: 500;
    margin-top: 150px;
}
.banner-text h1{
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 100px;
    display: flex;
}
.button{
gap: 20px;
}
.sign-in{
background: #FF42A5;
color: white;
padding: 20px 40px;
border-radius: 50px;
border: 0;
}
.rogue{
background: #4EC5F7;
color: white;
padding: 20px 40px;
border-radius: 50px;
border: 0;
}

.first-img{
   
}
.grp-18-pic{
    width: 100%;
}

.we-are-gamer-container{
display: flex;
justify-content: space-between;
background: rgba(255, 66, 165, 0.03);
}
.gamer-txt{
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 50px;
    font-weight: 700;
    text-align: right;
}
.gamer-dscrpt{
    font-size: 18px;
    font-weight: 400;
    color: #534C64;
    text-align: center;
}

.on-games-title{
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}
.funny-vids{
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    color: transparent;
    -webkit-background-clip: text;
    font-weight: 700;
}
.on-games-dscrpt{
    color: #534C64;
    text-align: center;
    font-size: 18px;
}

.online-games-imgs-container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
}


.dual-img-container{
    display: flex;
    justify-content: space-around;
}

.dual-container{

margin-left: 120px;

}
.dual-title{
    color: #F948B2;
}
.dual-dscrpt{
    align-items: center;
    margin-left: 120px;
}
.merged-imgs-container{
align-items: right;

}
.merged-images-big{
    width: 635px;
    height: 650px;
}
.merged-images-small{
    margin-top: -200px;
}

.other-games{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    margin: auto;
    background: rgba(255, 66, 165, 0.03);
    width: 1920px;
    height: 430px;
}
.action{
    display: flex;
    border-radius: 50px;
    font-weight: 700;
    background: white;
    width: 240px;
    height: 80px;
    align-items: center;   
}
.advntr{
    display: flex;
    border-radius: 50px;
    font-weight: 700;
    background: white;
    width: 240px;
    height: 80px;
    align-items: center; 
}
.arcade{
    display: flex;
    border-radius: 50px;
    font-weight: 700;
    background: white;
    width: 240px;
    height: 80px;
    align-items: center; 
}
.edu{
    display: flex;
    border-radius: 50px;
    font-weight: 700;
    background: white;
    width: 240px;
    height: 80px;
    align-items: center;
}
.word{
    display: flex;
    border-radius: 50px;
    font-weight: 700;
    background: white;
    width: 240px;
    height: 80px;
    align-items: center;
}
.role{
    display: flex;
    border-radius: 50px;
    font-weight: 700;
    background: white;
    width: 240px;
    height: 80px;
    align-items: center;
}
.audio{
    display: flex;
    border-radius: 50px;
    font-weight: 700;
    background: white;
    width: 240px;
    height: 80px;
    align-items: center;
}
.puzzle{
    display: flex;
    border-radius: 50px;
    font-weight: 700;
    background: white;
    width: 240px;
    height: 80px;
    align-items: center;
}
.strategy{
     display: flex;
    border-radius: 50px;
    font-weight: 700;
    background: white;
    width: 240px;
    height: 80px;
    align-items: center;
}